html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
	background-color: #ddd;
}

h1 {
	text-align: center;
	color: red;
	text-shadow: 1px 2px #00000059;
}

#randomIntButton {
	display: block;
	margin: 50px auto;
	outline: none;
}

.guessButtonGroup {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.guessButton {
	padding: 10px;
	box-shadow: -1px 2px 3px #000000ad;
}

p {
	text-align: center;
}